[Unit]
Description=Run Nogging sync every 30 seconds ({{NAME}})

[Timer]
OnBootSec=1min
OnUnitActiveSec=30s
AccuracySec=5s
Persistent=true
Unit=nogg-sync-{{SLUG}}.service

[Install]
WantedBy=timers.target
